---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/menu.astro';
import NavBar from '../components/navBar.astro'
---

<Layout title="Welcome to Astro.">
	<main class="flex min-h-screen min-w-screen flex-col">
		<NavBar />
		<Menu />
	</main>
</Layout>

<style>
	
</style>
