---
const { text } = Astro.props
---

<!-- Dark Button -->
<button class="text-center text-clip w-full border-t-2 border-b-2 border-gray-800 rounded-sm px-2 py-2 text-gray-800 cursor-pointer hover:bg-gray-800 hover:text-gray-200 self-center m-1 font-medium shadow-sm text-xl">
    {text}
</button>