---
---

<aside class="bg-gray-600 flex content-center justify-center w-28 min-h-screen z-1 absolute">
  <nav class="min-h-full">
    <ul class="flex flex-col min-h-full items-center justify-center align-middle">
      <li class="">Hola</li>
      <li class="">2</li>
      <li class="">3</li>
      <li class="">4</li>
    </ul>
  </nav>
</aside>