---
import MenuButton from "./menuButton.astro";
---

<aside class="bg-cyan-500 border-0 border-gray-800 content-center justify-center h-0 w-0 opacity-0 z-1 relative flex m-1 rounded-md transition-opacity duration-300 overflow-hidden shadow-lg shadow-gray-800 bg-opacity-10" id="menuBar">
  <nav class="">
    <ul class="flex flex-col justify-evenly items-center">
      <MenuButton text="Inicio" />
      <MenuButton text="Elementos de Algebra"/>
      <MenuButton  text="RPA"/>
      <MenuButton text="hola4"/>
    </ul>
  </nav>
</aside>

