---
const { text } = Astro.props
---

<!-- Dark Button -->
<button class="text-center text-clip w-full border-2 border-gray-800 rounded-lg px-2 py-2 text-gray-800 cursor-pointer hover:bg-gray-800 hover:text-gray-200 self-center m-1 text-base font-medium shadow-sm shadow-gray-800">
    {text}
</button>